// Global styling for this template
body {
  overflow-x: hidden;
  @include main-font;
}

p {
  line-height: 1.75;
}

a {
  color: $gray-900;
  &:hover {
    color: $primary;
  }
}

.text-primary {
  color: $gray-900 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  @include heading-font;
}

@media (min-width: 992px) {
  .container {
      max-width: 1040px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 16px;
    letter-spacing: 1.5px;
    color: #583E2E;
  }
  h3.section-subheading {
    font-size: 17px;
    font-weight: 300;
    // font-style: italic;
    margin-bottom: 60px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
